* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: #f8f9fa;
  color: #000000;
  line-height: 1.6;
  overflow-x: hidden;
}
header {
  background: #000033;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header h1 {
  font-size: 1.6rem;
  color: #660000;
  font-weight: 700;
}
nav a {
  color: #660066;
  margin-left: 1.2rem;
  text-decoration: none;
  transition: 0.3s;
}
.home {
  background-image: url("https://i.postimg.cc/d1ZPCkrJ/Screenshot-20251119-155408-Google.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
}
.home text {
  font-size: 2;
  padding: 30px;
  color: #000033;
}
.collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2.5rem;
}
.collection-h2 {
  color: black;
  padding: 15px;
}
.item {
  background: #663300;
  padding: 2rem;
  border-radius: 10px;
  transition: 0.3s;
}
.item:hover {
  transform: translateY(-5px);
}
.item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.item h3 {
  color: #38bdf8;
  margin-bottom: 1rem;
}
.btn {
  border-radius: 10px;
  background: #330066;
  color: #990000;
  padding: 10px 15px;
}
.btn:hover {
  background: #330066;
}
.button {
  border-radius: 10px;
  background: #c0c0c0;
  color: #990000;
  padding: 10px 15px;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  background: #fff;
  color: #000000;
  padding: 15px 15px;
}
footer {
  text-align: center;
  background: #000000;
  padding: 2rem;
  color: #94a3b8;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  nav a {
    margin: 0.75rem;
  }
  .collection {
    grid-template-columns: repeat(4, ifr);
  }
}
